@model AlDawarat_W_AlEngazat.Models.Entities.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>التفاصيل</h1>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2 text-right">
            الاسم:
        </dt>
        <dd class="col-sm-10 text-right">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 text-right">
            الرتبة:
        </dt>
        <dd class="col-sm-10 text-right">
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt class="col-sm-2 text-right">الرقم: </dt>
        <dd class="col-sm-10 text-right">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2 text-right">الفئة:</dt>
        <dd class="col-sm-10 text-right">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2 text-right">القسم:</dt>
        <dd class="col-sm-10 text-right">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2 text-right">التخصص</dt>
        <dd class="col-sm-10 text-right">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2 text-right">المؤهل</dt>
        <dd class="col-sm-10 text-right">
            @Html.DisplayFor(model => model.Certificate)
        </dd>
        <dt class="col-sm-2 text-right">الدورات الحالية</dt>
        <dd class="col-sm-10 text-right">
            @if (Model.Course != null)
            {
                @Html.DisplayFor(model => model.Course.Name)
            }
            else
            {
                <span>لا يوجد</span>
            }
        </dd>
        <dt class="col-sm-4">
            الدورات السابقة
        </dt>
        <dd class="col-sm-8">
            <a asp-action="ViewPreviousCourses" asp-route-id="@Model.ID">
                @(Model.PreviousCourses?.Count ?? 0) دورة
            </a>
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">تعديل</a> |
    <a asp-action="Index">رجوع</a> |
    @if (Model.Course == null)
    {
        <a asp-action="AssignEmployeeToCourse" asp-route-id="@Model.ID">اضافة دورة</a>
        <div class="d-inline"> | </div>
    }

    <a asp-action="AddPreviousCourse" asp-route-id="@Model.ID" class="">اضافة دورة سابقة</a>
</div>
