@model AlDawarat_W_AlEngazat.Models.Entities.User

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>User</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.NationalID)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NationalID)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Category)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Category)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Department)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Department)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Position)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Position)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Certificate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Certificate)
		</dd>
	</dl>
</div>

<!-- Achievements Section -->
<div>
	<h4>Achievements</h4>
	<hr />
	@if (Model.Achievements != null && Model.Achievements.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Start Date</th>
					<th>End Date</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var achievement in Model.Achievements)
				{
					<tr>
						<td>@achievement.Title</td>
						<td>@achievement.StartDate.ToShortDateString()</td>
						<td>@achievement.EndDate.ToShortDateString()</td>
					</tr>
				}
			</tbody>
		</table>
	} else
	{
		<p>No achievements found.</p>
	}
</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>